In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data=pd.read_csv("fer2013.csv")

In [4]:
data.head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [5]:
train_sample=data[data["Usage"]=="Training"]

In [6]:
data["Usage"].unique()

array(['Training', 'PublicTest', 'PrivateTest'], dtype=object)

In [7]:
pxls=train_sample['pixels'].astype(str)

In [8]:
s1=np.array(pxls)

In [9]:
img=[]
for i in range(len(s1)):
    s2=s1[i].split()
    img.append(s2)

In [10]:
k=[]
for i in img:
    l=[]
    for j in i:
        l.append(np.int32(j))
    k.append(l)

In [12]:
k=np.array(k)

In [13]:
k.shape

(28709, 2304)

In [72]:
k2=k.reshape(28709,48,48)

In [73]:
k2.shape

(28709, 48, 48)

In [74]:
np.save("k.npy",k2)

In [75]:
train_data=np.load("k.npy")

In [77]:
type(train_data)

numpy.ndarray

In [104]:
test=train[(train["Usage"]=="PublicTest") | (train["Usage"]=="PrivateTest") ]

In [105]:
len(test)

7178

In [106]:
pxl=test['pixels'].astype(str)

In [107]:
d=np.array(pxl)

In [114]:
timg=[]
for i in range(len(d)):
    d1=d[i].split()
    timg.append(d1)

In [115]:
tk=[]
for i in timg:
    tl=[]
    for j in i:
        tl.append(np.int32(j))
    tk.append(tl)

In [116]:
tk=np.array(tk)

In [117]:
len(tk)

7178

In [118]:
tk2=tk.reshape(7178,48,48)

In [119]:
tk2.shape

(7178, 48, 48)

In [120]:
np.save("test_img.npy",tk2)

In [121]:
test_data=np.load("test_img.npy")